@import 'core/base.css';

@import 'components/components.css';
@import 'components/js-elements.css';
@import 'components/language-selector.css';

@import 'utils/spinner.css';
@import 'utils/animations.css';

@import 'pages/login.css';
@import 'pages/home.css';
@import 'pages/lessons.css';
@import 'pages/games.css';


